<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <center>
        <form action="{:url('Index/tianjia')}" method="post" enctype="multipart/form-data">
            姓名:<input type="text" name="name"><br><br>
            年龄:<input type="text" name="age"><br><br>
            性别:男<input type="radio" value="0" name="sex">
                 女<input type="radio" value="1" name="sex"><br><br>
            头像：<input type="file" name="image"><br><br>
            <input type="submit" value="提交">

        </form>
    </center>
</body>
</html>